<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.massage.infosys.dao.UserMapper">
	<resultMap id="userMap" type="User">
        <result property="sharp_id" column="sharp_id"/>
        <result property="phone" column="phone"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="create_time" column="create_time"/>
        <result property="rec_time" column="rec_time"/>
        <result property="latitude" column="latitude"/>
        <result property="longtitude" column="longtitude"/>
        <result property="category" column="category"/>
        <result property="token" column="token"/>
    </resultMap>
</mapper>